body>div{
    background-color: rgba(185,222,251,0.75);
    width:450px;
    height: 430px;
    border:0px solid #939FAC;
    border-radius: 10px;
    font-size: 14px;
    font-family: Consolas, sans-serif;
}

body>div>div>img{
    vertical-align: center;
    margin-top: 7px;
    margin-left: 10px;
    margin-bottom: 0px;
    display:inline-block;
}

body>div>div>h1{
    display: inline-block;
    font-size:1.0em;
    font-weight: normal;
    font-family: Tahoma,Geneva,Verdana,sans-serif;
    vertical-align: top;
}

body>div>div button{
    float:right;
}
body>div>div button:first-of-type{
    margin-right:5px;
}

body div div#container{
    margin-left:5px;
    margin-right:5px;
    width: 438px;
    border: 1px solid #939FAC;
}

table#nav{
    border-spacing: 0px;
}

body div div button#minimizer{
    width:29px;
    height:20px;
    background-image: url("windows.png");
    border:0px solid black;
    border-bottom-left-radius: 3px;

}
body div div button#maximizer{
    width:29px;
    height:20px;
    background-image: url("windows.png");
    background-position-x: -28px;
    border:0px solid black;
}

body div div button#close{
    width:48px;
    height:20px;
    background-image: url("windows.png");
    background-position-x: -56px;
    border:0px solid black;
    border-bottom-right-radius: 3px;
}

div table#menu tr td{
    padding-right: 15px;
}

div table#menu tr td:first-letter{
text-decoration: underline;
}

div table#menu{
    margin:0;
    padding: 0;
    width:438px;
    height: 22px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 15%, #e3e8f8 50%);
    background: -webkit-linear-gradient(top, #ffffff 15%,#e3e8f8 50%);
    background: linear-gradient(to bottom, #ffffff 15%,#e3e8f8 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3e8f8',GradientType=0 );
    border-right:1px solid #939FAC;
    border-bottom: 1px solid #C1C5D1;
    border-collapse: collapse;
    font-family: Tahoma,Geneva,Verdana,sans-serif;
}

div table#menu tr td:nth-last-of-type(){
    width:350px;
}

input[type="text"]{
    width:403px;
    height: 50px;
    margin-left:12px;
    margin-right:18px;
    margin-top:10px;
    border: 1px solid #939FAC;
    border-radius:3px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ecf2fc 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #ecf2fc 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #ecf2fc 0%m #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ecf2fc',GradientType=0 );
    font-size:1.9em;
    font-family: Consolas, sans-serif;
    text-align: right;
    padding-right: 5px;
}

table#binary{
    width:410px;
    margin-left:13px;
    margin-right:17px;
    margin-top:5px;
    color:#223C5D;
    margin-bottom:0;
    border: 1px solid #939FAC;
    border-radius:3px;
    border-spacing: 0px;
    line-height: 14px;
}

table#calc-1{
    width:410px;
    margin-left:10px;
    margin-right:17px;
    line-height: 14px;
    color:#223C5D;
}

table.system{
    width:80px;
    padding-top:7px;
    padding-bottom: 7px;
    border: 1px solid #939FAC;
    border-radius:3px;
    border-spacing: 0px;
    font-family: Tahoma;
    font-size:0.85em;
    color:#223C5D;
    line-height: 16px;
}

table#button-plate1 button {
    font-family:Tahoma;
    color:#223C5D;
}

button.standart-button, button.number{
    width:36px;
    height:30px;
    color:#223C5D;    
    border:1px solid #939FAC;
    border-radius:3px;
}

button.standart-button, button#equals{
    background: #f9fdff;
    background: -moz-linear-gradient(top, #f9fdff 0%, #d4e0ee 100%);
    background: -webkit-linear-gradient(top, #f9fdff 0%,#d4e0ee 100%);
    background: linear-gradient(to bottom, #f9fdff 0%,#d4e0ee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fdff', endColorstr='#d4e0ee',GradientType=0 );
}

button.number, button#zero{
    font-size: 1.15em;
    background: #fafeff;
    background: -moz-linear-gradient(top,  #fafeff 0%, #eef4f9 50%, #ebf2f9 99%);
    background: -webkit-linear-gradient(top,  #fafeff 0%,#eef4f9 50%,#ebf2f9 99%);
    background: linear-gradient(to bottom,  #fafeff 0%,#eef4f9 50%,#ebf2f9 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafeff', endColorstr='#ebf2f9',GradientType=0 );
}

button#zero{
    width:80px;
    height:30px;
    border:1px solid #939FAC;
    border-radius:3px;
    color:#223C5D;    
}

button#equals{
    width:36px;
    height:65px;
    font-size: 1.7em;
    border:1px solid #939FAC;
    color:#223C5D;
    border-radius:3px;
}

td.no-button{
    width: 33px;
    overflow: hidden;
    white-space: nowrap;
    height:28px;
    border:1px solid #939FAC;
    border-radius:3px;
    border-spacing: 0;
}

table#button-plate1{
    padding-top:5px;
    padding-bottom: 5px;
    font-family: Tahoma;
}

button.standart-button:hover, button.number:hover, button#zero:hover, button#equals:hover{
    border-color: #FBE772;
    background: #fef3e8;
background: -moz-linear-gradient(top,  #fef3e8 0%, #fbd073 50%, #fcf7c3 99%);
background: -webkit-linear-gradient(top,  #fef3e8 0%,#fbd073 50%,#fcf7c3 99%);
background: linear-gradient(to bottom,  #fef3e8 0%,#fbd073 50%,#fcf7c3 99%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef3e8', endColorstr='#fcf7c3',GradientType=0 );

}
