body, html,nav,ul{
    margin:0px auto;
    padding:0px;
    font-size:14px;
    line-height: 20px;
}

nav ul{
    list-style-type: none;
}

nav>ul{
    padding:5px;
}

nav>ul>li:first-of-type{
    text-decoration: underline;
}

ul#sublist{
    color:grey;
    position:relative;
    margin-left:10px;
}