html, body, div, h1, p, ul, li, h2, img{
  margin:0;
  padding: 0;
}
#root {
  width: 960px;
  height: 805px;
  font-size: 18px;
  background-color: #CCCCCC;
}

div.container ul li img{
  width:200px;
  height: 200px;
  border:0px solid black;
  border-radius:25px;
  position:relative;
  top:-130px;
  left:-40px;
}

div#root h1.header{
  font-size:1.6em;
  text-align: center;
  padding-top:40px;
  padding-bottom:20px;
}

div#root p.description{
  border:3px solid white;
  border-radius: 25px;
  background-color: rgba(122,122,122,0.75);
  padding-top:29px;
  padding-bottom: 26px;
  padding-left:55px;
  padding-right:85px;
  margin-bottom:50px;
}

div#root h1+p.description{
  margin-left:45px;
  margin-right: 45px;
}

div#root div.container p.remark{
  text-align: center;
  margin-bottom:20px;
}

div#root div.container ul.heroes-list li{
  display:inline-block;
}

div#root div.container ul.heroes-list li:first-of-type{
  margin-left:45px;
}

div#root div.container ul.heroes-list li p.description{
  position: relative;
  border-radius: 5px;
  padding-left: 15px;
  padding-top:15px;
  padding-right: 15px;
  padding-bottom:15px;
  width:178px;
  height:200px;
  text-align:justify;
  font-size: 1.10em;
  margin-left:0px;
  margin-right:0px;
  z-index: 999;
}

div#root div.container ul.heroes-list li h2{
  text-align:center;
  font-size:1.1em;
  margin-bottom:15px;
}